<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545971456063-t78099b2kueukead4idnajjjj7li2qkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545971456063-t78099b2kueukead4idnajjjj7li2qkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCCG8qtur8HBafQYJffTbj28ANP3RppeMc</string>
	<key>GCM_SENDER_ID</key>
	<string>545971456063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismismis.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-13eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-13eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545971456063:ios:60fbeee35663072925108a</string>
</dict>
</plist>